name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      # Installs dependencies based on your package.json
      - name: Install Dependencies
        run: deno install

      # Sets the BASE_PATH env var to /repo-name/
      - name: Build
        run: deno task build
        env:
          BASE_PATH: /${{ github.event.repository.name }}/

      # Fix for GitHub Pages (allows folders starting with _)
      - name: Add .nojekyll
        run: touch .output/public/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # SolidStart static build outputs to .output/public
          path: .output/public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
